/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Heroku.php
PhpStorm.php
auth.json
docker-compose.override.yml
docker-compose.vps.yml
compose.vps.yml
*.local
_test_observer_temp.php
