/.phpunit.cache
/node_modules
**/node_modules
/public/hot
/public/storage
/public/daily
/storage/*.key
/storage/pail
/vendor
**/package-lock.json
.env*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
