services:
  app:
    image: 'sail-8.4/app'
    build:
      context: ./laravel-app/vendor/laravel/sail/runtimes/8.4
      dockerfile: Dockerfile
      args:
        WWWGROUP: '1000'
    container_name: mbfd-hub-app
    restart: unless-stopped
    environment:
      WWWUSER: '1000'
      LARAVEL_SAIL: 1
      XDEBUG_MODE: 'off'
      XDEBUG_CONFIG: 'client_host=host.docker.internal'
      IGNITION_LOCAL_SITES_PATH: '/var/www/html'
    volumes:
      - './laravel-app:/var/www/html'
    ports:
      - '127.0.0.1:8082:80'
    networks:
      - mbfd_net
    depends_on:
      - pgsql

  pgsql:
    image: 'postgres:16'
    container_name: mbfd-hub-db
    restart: unless-stopped
    ports:
      - '127.0.0.1:5433:5432'
    environment:
      PGPASSWORD: 'mbfd_secure_pass_2026'
      POSTGRES_DB: 'mbfd_hub'
      POSTGRES_USER: 'mbfd_user'
      POSTGRES_PASSWORD: 'mbfd_secure_pass_2026'
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    networks:
      - mbfd_net
    healthcheck:
      test:
        - CMD
        - pg_isready
        - '-q'
        - '-d'
        - 'mbfd_hub'
        - '-U'
        - 'mbfd_user'
      retries: 3
      timeout: 5s

networks:
  mbfd_net:
    driver: bridge

volumes:
  postgres_data:
    driver: local
