includes:
    - vendor/larastan/larastan/extension.neon

includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app/
    excludePaths:
        - app/Console/Kernel.php (?)
